<html>
<body>
    <div class="row align-items-start text-center">
        <div class="col">
            <div class="card" style="width: 18rem;margin-top : 90px">
                <img src="/DeveloperImages/tejaswini.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tejaswini Maskare</h5>
                    <p class="card-text">tejumaskare2001@gmail.com</p>
                    <a href="https://www.linkedin.com/in/tejaswinimaskare/" class="btn btn-primary">Tejaswini (LinkedIn)</a>
                    <div><p>Phone : 9021399249</p></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin-top : 90px">
                <img src="/DeveloperImages/Laxmikant1.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laxmikant Mhamane</h5>
                    <p class="card-text">laxmikant@gmail.com</p>
                    <a href="https://www.linkedin.com/in/tejaswinimaskare/" class="btn btn-primary">Laxmikant (LinkedIn)</a>
                    <div><p>Phone : 7389304143</p></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;;margin-top : 90px">
                <img src="/DeveloperImages/pooja1.jpg " class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Pooja Suryawanshi</h5>
                    <p class="card-text">pooja@gmail.com</p>
                    <a href="https://www.linkedin.com/in/tejaswinimaskare/" class="btn btn-primary">Pooja (LinkedIn)</a>
                    <div><p>Phone : 8408855958</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  align-items-start text-center">
        <div class="col-lg-2">

        </div>
        <div class="col">
            <div class="card" style="width: 18rem;margin-top : 90px">
                <img src="/DeveloperImages/kunal1.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kunal Chaudhari</h5>
                    <p class="card-text">kunal@gmail.com</p>
                    <a href="https://www.linkedin.com/in/tejaswinimaskare/" class="btn btn-primary">Kunal (LinkedIn)</a>
                    <div><p>Phone : 8308348779</p></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; margin-top : 90px; ">
                <img src="/DeveloperImages/jayesh1.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Jayesh Mahajan</h5>
                    <p class="card-text">jayeshmahajan119@gmail.com</p>
                    <a href="https://www.linkedin.com/in/tejaswinimaskare/" class="btn btn-primary">Jayesh (LinkedIn)</a>
                    <div><p>Phone : 7385870028</p></div>
                </div>
            </div>
        </div>
        <div class=" col"></div>
    </div>
</body>
</html>